@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* :root {
  font-family: "MiSans VF", MiSans, system-ui, sans-serif;
} */

  .navbar-menu:checked ~ label .navbar-menu\:rotate-180 {
    --tw-rotate: 180deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(180deg) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
  
  .navbar-menu\:block {
    will-change: max-height, opacity; /* 提升这两个属性的性能 */
    height: 0; /* 初始高度为 0 */
    overflow: hidden; /* 防止内容溢出 */
    opacity: 0; /* 初始透明度为 0 */
  }

  .navbar-menu\:block.visible {
    height: calc(100vh - 64px); /* 目标高度 */
    opacity: 1; /* 完全不透明 */
  }