@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* :root {
  font-family: "MiSans VF", MiSans, system-ui, sans-serif;
} */
/* ––––––––––––––––––––––––––––––––––––––––––––––––––
    Based on: https://codepen.io/nickelse/pen/YGPJQG
    Influenced by: https://sproutsocial.com/
  –––––––––––––––––––––––––––––––––––––––––––––––––– */


  /* .mega-menu {
    display: none;
    right: 0;
    top: 100%;
    position: absolute;
  }



  .toggleable > label:after {
    content: "\25BC";
  } 

  .toggle-input {
    display: none;
  }
  .toggle-input ~ label .mega-menu{
    display: none;
  }
  .toggle-input:not(checked) ~ label .mega-menu {
    display: none;
  }
  .toggle-input:checked ~ label .mega-menu {
    display: block;
  }

  .toggle-input:checked + label {
    color: white;
    background: #374151;
  }

  .toggle-input:checked ~ label:after {
    content: "\25B2";
  } */